//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
.btn-site {
	position: relative;
	font-weight: 700;
	font-size: rem(16);
	line-height: math.div(16, 16);
	color: #fff;
	border: 2px solid $mainPrimary;
	background-color: $mainPrimary;
	border-radius: rem(10);
	span {
		z-index: 1;
	}
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		transform: scale(0, 0);
		border-radius: rem(25);
		opacity: 0;
		transition: all .3s ease 0s;
	}

// 
	
	@media (any-hover: hover) {
		&:hover {
			span {
				position: relative;
				color: #fff;
			}
			&::after {
				opacity: 1;
				transform: scale(1, 1);
				border: 2px solid $mainPrimaryLight	;
				border-radius: rem(10);
				background-color: $mainPrimaryLight;
			}
		}
		&:focus-visible {
			border: 2px solid $mainPrimaryShade;
			background-color: $mainPrimaryLight;
		}
		&:active {
			background-color: $mainPrimaryShade;
			border: 2px solid $mainPrimaryShade;
		}
	}
}
.btn-by {
	position: relative;
	padding: rem(19) rem(35);
	border: 2px solid $mainPrimary;
	border-radius: 10px;
	font-weight: 600;
	font-size: rem(16);
	line-height: math.div(16, 16);
	color: $mainPrimary;
	transition: all .3s ease 0s;
	span {
		z-index: 1;
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		transform: scale(0);
		transition: transform .3s ease 0s, background-color .5s ease 0s;
		border-radius: rem(25);
	}
	@media (any-hover: hover) {
		&:hover {
			&::before {
				transform: scale(1);
				background-color: $mainPrimary;
				border-radius: 5px;
			}
			color: #fff;
			z-index: 1;
		}
		&:focus-visible {
			color: #fff;
			background-color: $mainPrimaryLight;
		}
		&:active {
			background-color: $mainPrimaryShade;
			border-color: $mainPrimaryShade;
		}
	}
}