.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px $mainPrimaryLight;
		}
		&:checked + .checkbox__label:before {
			background: url("@img/icons/arrow-checkbox.svg") center / 9px no-repeat;
			background-color: $mainPrimary;
		}
	}
	// .checkbox__label
	&__label {
		position: relative;
		display: inline-flex;
		gap: 10px;
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			justify-self: center;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;
			border-radius: rem(3);
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
		font-size: rem(14);
		line-height: math.div(19, 14);
		a {
			color: $mainPrimary;
			text-decoration: underline;
		}
	}
	
}
