.header {
	@include adaptiveValue("padding-top", 42, 20);
	@include adaptiveValue("padding-bottom", 42, 20);
	/* .header__container */
	&__container {
	}
	/* .header__content */
	&__content {
		display: flex;
		align-items: center;
		@media (min-width:$mobile){
			justify-content: space-between;
			gap: rem(40);
		}
		@media (max-width:$mobile){
			display: grid;
			grid-template-columns: 1fr 30px;
			// justify-content: center;
		}
	}
	/* .header__logo */
	&__logo {
		@media (min-width:$mobile){
			flex-shrink: 1;
			flex-grow: 1;
			@include adaptiveValue("flex-basis", 780, 127, 0, 1700, 1120);
		}
		@media (max-width:$mobile){
			 justify-self: center; 
		}
		@include adaptiveValue("font-size", 22, 18);
		color: #fff;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $mainGreyTextColor;
			}
		}
	}
	/* .header__nav */
	&__nav {
		@media (max-width:$mobile){
			 display: none; 
		}
	}
	/* .header__menu */
	&__menu {
	}
}

.nav-header {

	/* .nav-header__list */
	&__list {
		display: flex;
		@media (min-width:$tablet){
			justify-content:center;
			align-items: center;
			@include adaptiveValue("gap", 64, 36, 0 , 1920, 991);
		}
		@media (max-width:$tablet){
			flex-direction: column;
		}

	}
	/* .nav-header__item */
	&__item {
	}
}
.item-header {
	@media (min-width:$tablet){
		&:first-child {
			@include adaptiveValue("width", 190, 140, 0, 1920, 991);
		} 
		&:nth-child(2) {
			width: rem(180);
		}
	}
	@media (max-width:$tablet){
		width: 100%;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	/* .item-header__spollers */
	&__spollers {
	}
	/* .item-header__link */
	&__link {
		display: flex;
		align-items: center;
		gap: rem(10);
	}
}
.header-spollers {

	/* .header-spollers__item */
	&__item {
		position: relative;
	}
	/* .header-spollers__title */
	&__title {
		position: relative;
		@media (max-width:$tablet){
			&::after{
				content:'';
				position: absolute;
				width: 0;
				height: 2px;
				bottom: 0;
				left: 0;	
				background-color: #fff;			
				transition: width 0.3s ease 0s;
			}
			&._spoller-active {
				&::after{
					width: 100%;
				}
			}
		}
	}
	/* .header-spollers__list */
	&__list {
		z-index: 2;
		@media (min-width:$tablet){
			margin: rem(5) 0 0 0;
			position: absolute;
			top: 100%;
			left: 0;
			@include adaptiveValue("width", 200, 170, 0, 1600, 991);
			padding: rem(15);
			border-radius: rem(10);
			background: rgba(255, 255, 255, 0.6);
			backdrop-filter: blur(10px);
			box-shadow: 0 0 5px rgba(0, 0, 0, .3);
			&_big {
				width: 200px;
			}
		}
		@media (max-width:$tablet){
			margin-left: rem(16);
			margin-top: rem(16);
		}
    }
    /* .header-spollers__items */
    &__items {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 24);
		}
    }
    /* .header-spollers__link */
    &__link {
		display: block;
		font-size: 25px;
		color: #fff;
		transition: all 0.3s ease 0s;
		@media (min-width:$tablet){
			font-weight: 700;
			@include adaptiveValue("font-size", 16, 12, 1720, 1300);
			line-height: math.div(30, 18);
			color: #000;
		}
		@media (any-hover: hover){
			&:hover{
				color: rgba($color: blue, $alpha: .6);
			}
			&:focus-visible {
				color: $mainBlueColor;
				text-decoration: underline;
			}
		}
		
    }
}
.header-links {
	font-family: CraftworkGrotesk, "PT Mono", sans-serif;
	font-weight: 700;
	font-size: rem(18);
	line-height: math.div(22, 18);
	color: #fff;
	transition: all 0.3s ease 0s;
	@media (max-width:$tablet){
		font-size: rem(30);
		line-height: math.div(36, 30);
	}
	@media (any-hover: hover){
		&:hover{
			color: $mainGreyTextColor;
		}
		&:focus-visible{
			text-decoration: underline;
		}
	}
}
.body-spollers {
	position: relative;
	/* .body-spollers__list */
	&__list {
		padding: rem(25) rem(18);
		background-color: rgba(255,255,255,.6);
		backdrop-filter: blur(10px);
		border-radius: 15px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}
	/* .body-spollers__items */
	&__items {
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	/* .body-spollers__link */
	&__link {
	}
}
.menu {

	/* .menu__icon */
	&__icon {
	}
	/* .menu__body */
	&__body {

	}
}

//====================================================================================================
.menu {
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%;
			overflow: auto;
			padding: rem(100) rem(15) rem(50) rem(15);
			z-index: 4;
			background: rgba(0, 0, 0, 0.35);
			backdrop-filter: blur(7.5px);
			transition: left .3s ease 0s;
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				height: 70px;
				left: 100%;
				top: 0;
			} 
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}	
	}
	@media (min-width: $mobile) and (max-width: $tablet) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
	@media (max-width:$mobile){
		 justify-self: end; 
	}
}
//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				// width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}