.inner-page {
    margin-top: rem(-10);
    padding-bottom: rem(70);
    // .inner-page__container
    &__container {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .inner-page__breadcrumbs
    &__breadcrumbs {
    }
}
.catalog {

    // .catalog__container
    &__container {
        @media (max-width:$mobile){
             display: flex;
             flex-direction: column; 
        }
    }
    // .catalog__body
    &__body {
        display: grid;
        gap: rem(32);
        @media (min-width: $tablet) {
            grid-template-columns: rem(296) 1fr;
        }
        @media (max-width:$mobile){
             order: 2; 
        }
    }
    // .catalog__filter
    &__filter {
    }
    // .catalog__filter
    &__tabs {
    }
    // catalog__tab-inner   
    &__tab-inner {

    }
    // catalog__tab-item
    &__tab-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(32);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) { 
            grid-template-columns: repeat(1, 1fr);
        }        
    }
    // .catalog__content
    &__content {
    }
    // .catalog__title
    &__title {
        font-size: rem(24);
        line-height: math.div(31, 24);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
        @media (max-width:$mobile){
             order: 1; 
             margin-bottom: rem(27);
        }
    }
    // .catalog__products
    &__products {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
}

//====================================================================================================
.filter-catalog {
    @media (min-width: $mobile) and (max-width: $tablet) {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 43, 25);
    }
    // .filter-catalog__title
    &__title {
        font-size: rem(18);
        line-height: math.div(22, 18);
        @media (min-width: $tablet) {
            &:nth-child(2) {
                display: none;
            }
            &:not(:last-child) {
                margin-bottom: rem(20);
            }   
        }
        @media (max-width: $tablet) {
            &:nth-child(1) {
                display: none;
            }
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(16);
            }   
        }
    }
    // .filter-catalog__list
    &__list {
        flex: 1 1 auto;
    }
    // .filter-catalog__items
    &__items {
        // box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
        transition: all .3s ease 0s;
        @media (min-width: $tablet) {
            margin-bottom: rem(56);
        }
        @media (max-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            @include adaptiveValue("gap", 32, 16, 0, 1120, 632);
        }
        @media (max-width: $mobile) {
            max-width: rem(405);
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .filter-catalog__item
    &__item {        
        @media (min-width: $tablet) {            
            &:not(:last-child) {
                margin-bottom: rem(26);
            }
        }
    }
    // .filter-catalog__price
    &__price {
    }    
}
.card-filter-catalog {
    border-radius: rem(10);
    background-color: $mainColor;
    @media (max-width: $tablet) {
        display: none;
    }
    // .card-filter-catalog__image-ibg
    &__image-ibg {
        display: block;
        padding-bottom: percent(190, 296);
    }
    // .card-filter-catalog__body
    &__body {
        padding: rem(30);
    }
    // .card-filter-catalog__title
    &__title {
        font-family: 'Playfair Display';
        font-weight: 900;
        font-size: rem(24);
        line-height: math.div(32, 24);
        color: #D5B986;
    }
    // .card-filter-catalog__text
    &__text {
        font-size: rem(16);
        line-height: math.div(22, 24);
        color: $mainGrey;
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }
    // .card-filter-catalog__link
    &__link {
        display: flex;
        gap: 5px;
        align-self: flex-start;
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19, 16);
        color: $mainPrimary;
        z-index: 1;
        transition: all .3s ease 0s;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $mainPrimary;
            border-radius: 50%;
            width: rem(22);
            height: rem(22);
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    text-decoration: underline;
                }
                .card-filter-catalog__link-icon {
                    background-color: $mainPrimary;
                    svg path {
                        stroke: #fff;
                    }
                }  
            }
            &:focus-visible {
                span {
                    text-decoration: underline;
                }
                .card-filter-catalog__link-icon {
                    background-color: $mainPrimaryLight;
                    svg path {
                        stroke: #fff;
                    }
                }  
            }
            &:active {
                .card-filter-catalog__link-icon {
                    background-color: $mainPrimaryShade;
                    border-color: $mainPrimaryShade;
                    svg path {
                        stroke: #fff;
                    }
                }  
                span {
                    color: $mainPrimaryShade;
                    text-decoration: underline;
                }
            }
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
}
.item-filter-catalog {
    @media (max-width: $tablet) {
        position: relative;
    }
    // .item-filter-catalog__title
    &__title {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-direction: row-reverse;
        // font-weight: 700;
        font-size: rem(16);
        line-height: math.div(20, 16);
        @media (min-width: $tablet) {
            // padding-top: rem(20);
            padding-bottom: rem(8);
        }
        @media (max-width: $tablet) {
            // padding: rem(20);
            display: flex;
            gap: rem(20);
            width: 100%; 
            padding: rem(9) rem(15);
            align-items: center;
            justify-content: space-between;
            background-color: #F7F8F7;
            border-radius: rem(10);
    
        }
        &::after {
            font-weight: 700;
            font-size: rem(12);
            color: $mainPrimary;
            transform: rotate(0);
            transition: transform 0.3s ease 0s;
        }
        &._spoller-active {
            &::after {
                transform: rotate(180deg);
            }
        }
    }
    // .item-filter-catalog__body
    &__body {
        @media (max-width: $tablet) {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            max-height: rem(100);
            overflow: auto;
            background-color: #fff;
            border-radius: 0 0 rem(10) rem(10);
            padding: rem(6) rem(15);
            z-index: 5;
            
        }
    }
    // .item-filter-catalog__checkbox
    &__checkbox {
    }
}
.filter-btn--arrow {
    &::after {
        content: "\e906";
        @extend %ic;
        display: none;
    }
    @media (max-width: $tablet) {
        &::after {
            display: block;
        }
    }
    
}
.price-filter {
    @media (min-width: $tablet) {
        &:not(:last-child) {
            margin-bottom: rem(26);
        }
    }
    @media (max-width: $tablet) {
        position: relative;
    }
    // .price-filter__title
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
        &::before {
            font-size: rem(8);
            color: $mainPrimary;
            transform: rotate(-180deg);
            transition: transform .3s ease 0s;
        }
        &._spoller-active {
            &::before {
                transform: rotate(0);
            }
        }
    }
    // .price-filter__body
    &__body {
        // padding: rem(30) 0 0 0;
        // padding: rem(7) 0 rem(26) 0;
        @media (max-width: $tablet) {
            position: absolute;
            left: 0;
            background-color: #fff;
            border-radius: 0 0 rem(10) rem(10);
            z-index: 5;
            padding: rem(6) rem(15);
        }
    }
    // .price-filter__inputs
    &__inputs {
        display: flex;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(60);
        }
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    // .price-filter__input
    &__input {
        width: 50%;
        height: rem(42);
        text-align: center;
        padding: 0 rem(15);
        border: 1px solid #cbcbcb;
        border-radius: rem(3);
        &:not(:last-child) {
            border-right: 1px solid #cbcbcb;
        }
        @media (max-width: $tablet) {
            width: 100%;
        }
    }
    // .price-filter__range
    &__range {
    }
}

//====================================================================================================

//====================================================================================================
