@font-face {
	font-family: CraftworkGrotesk;
	font-display: swap;
	src: url("../fonts/CraftworkGrotesk-Bold.woff2") format("woff2"), url("../fonts/CraftworkGrotesk-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CraftworkGrotesk;
	font-display: swap;
	src: url("../fonts/CraftworkGrotesk-Heavy.woff2") format("woff2"), url("../fonts/CraftworkGrotesk-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: icomoon;
	font-display: swap;
	src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CraftworkGrotesk;
	font-display: swap;
	src: url("../fonts/CraftworkGrotesk-Medium.woff2") format("woff2"), url("../fonts/CraftworkGrotesk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTNorms;
	font-display: swap;
	src: url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
