.number {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #C4C4C4;    
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    margin-right: 10px;
}
.item {
    display: flex;
    align-items: center;
    max-width: 370px;
    padding: 15px 0;
    border-bottom: 1px solid #E4E4E4;
}
.item:first-child {
    border-top: 1px solid #E4E4E4;
}
.item span {
    flex: 1 1 auto; 
}